footer {background-color: #FFFFFF;
        height: 60px;
        width: 100%;
        position: absolute;
        bottom: 0;
        top: 1px #CCCCCC;
}

p {text-align: center;
   vertical-align: middle;
}
